$max-width: 900px;

//------------------------------------------------------------
// Media Queries
//------------------------------------------------------------

$screen-xs-max: 480px;// Extra small screen / phone
$screen-sm-max: 768px;  // Small screen / tablet
$screen-md-max: 992px;  // Medium screen / desktop
$screen-lg-max: 1200px; // Large screen / wide desktop
$screen-xlg-max: 1600px; // Extra Large screen / wide desktop
$screen-xxlg-max: 1900px; // Extra Large screen / wide desktop

//------------------------------------------------------------
// Cores
//------------------------------------------------------------


$google-plus: #D34331;
$twitter: #1B86BC;
$flickr: #FF0085;
$linkedin: #1B86BC;
$instagram: #A5664D;
$github: #888888;

$color-font: #3F3F3F;
$color-link: #297FEF;
//------------------------------------------------------------
// Placeholder
//------------------------------------------------------------
  %reset-mp{
    padding:0;
    margin:0;
  }

//------------------------------------------------------------
// Mixin
//------------------------------------------------------------
  @mixin clearfix() {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

html {
  font-size: 58%;
  @media (min-width: $screen-xs-max){ font-size: 60%; }
  @media (min-width: $screen-sm-max){ font-size: 62.5%; }
}

@font-face {
  font-family: "Raleway";
  src: url(fonts/raleway/Raleway-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Raleway";
  src: url(fonts/raleway/Raleway-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Raleway";
  src: url(fonts/raleway/Raleway-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url(fonts/raleway/Raleway-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Raleway";
  src: url(fonts/raleway/Raleway-Bold.ttf);
  font-weight: bold;
}


body, input, textarea {
  font: 1.4em 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 2.3em;
  color: $color-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight:normal;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  font-style: normal;
  font-weight: 300;
}

h2 {
  font-size:2.0em;
  line-height: 1.0em;
  font-style: normal;
  font-weight: 300;
}

h3 {
  font-size: 1.5em;
  line-height: 1.0em;
  font-weight: 500;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: 500;
}

h5 {
  font-size: 0.75em;
  line-height: 0.9em;
  font-style: normal;
}

p {
  font: 1.0em 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  b {
    font-weight: 600;
  }
}

a{
  text-decoration: none;
  color:$color-link;
}

hr.accent {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #999 -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: dashed none none;
  border-width: 1px 0 0;
  color: #999;
  padding: 0;
  text-align: center;
  margin: 10px 0;
}

article{
  h3{
      color:#2A9E79;
    }
  h4{ @extend %reset-mp; }
}

.main{
  max-width:$max-width;
  margin-left:auto;
  margin-right: auto;
}

.avatar{
  text-align: center;
  padding: 12px 0 2px 0;
  h3, h4{
    margin: 5px;
    color:#2B2B2B;
  }
   h3{ color:#014A73; }
  h4{ color:#1276BF; }
  img{
    border-radius:100%;
    &:hover{
      opacity: 0.9;
    }
  }
}

.img{
  background:url("../img/avatar.png");
  width:120px;
  height:120px;
  border-radius:100%;
  margin:auto;
  &:hover{
    background:url("../img/avatar2.png");
  }
}

.about{
  .tags span{
    background: #99C0F6;
    color:#fff;
    border-radius: 3px;
    padding:0 5px;
  }

  .tags.interests span{
    background:#F2A5A5;
  }
  .subcontent{
    padding:0px 10px 15px 0px;
  }

  .item{
    margin-bottom:5px;
  }

  @media (min-width: $screen-sm-max){
    .content{
      float: left;
      width:50%;
    }
    .subcontent{
      padding:0 10px 10px 23px;
    }
  }
  @include clearfix();
}

.works{
  padding-bottom: 10px;
  h4{
    margin-bottom: 5px;
    font-weight: bold;
    }

  ul{
    list-style: none;
    margin:0;
    padding:0;
    li{
      border-bottom: solid 1px #D6D6D6;
      padding-bottom: 15px;
      margin:15px 0;
    }
    li:last-child{
      border:none;
      margin: 0;
       padding-bottom: 0px;
    }
  }
  .tags{
    span{ padding:2px 5px 2px 0;}
    i{color:#727171; }
  }
}

.social{
  text-align: center;
  i{
    padding:10px;
    font-size: 1.5em;
    color:#fff;
  }
}

.fa-google-plus{
  background: $google-plus;
    &:hover{
      background: lighten($google-plus, 10%);
      border-bottom: solid 3px $google-plus;
    }
  }

.fa-twitter{
  background:$twitter;
  &:hover{
    background: lighten($twitter, 10%);
    border-bottom: solid 3px $twitter;
  }
}
.fa-flickr{
  background: $flickr;
  &:hover{
    background: lighten($flickr, 10%);
    border-bottom: solid 3px $flickr;
  }
}
.fa-linkedin{
  background:$linkedin;
  &:hover{
    background: lighten($linkedin, 10%);
    border-bottom: solid 3px $linkedin;
  }
}
.fa-instagram{
  background:$instagram;
  &:hover{
    background: lighten($instagram, 10%);
    border-bottom: solid 3px $instagram;
  }
}
.fa-github{
  background:$github;
  &:hover{
    background: lighten($github, 10%);
    border-bottom: solid 3px $github;
  }
}


.contact{
  padding:10px;

  a{ color: $color-font; }
  i{
    font-size: 1em;
   padding:2px;
  }
  span{
    padding:0 5px;
    display:block;
    @media (min-width: $screen-sm-max){
      display:inline;
    }
  }

  .fa-envelope-o{color:#000;}
  .fa-skype{color:#00AFF0;}
  .fa-rss{color:#FE9900};
}


