article h4, .social .contact i {
  padding: 0;
  margin: 0; }

html {
  font-size: 58%; }
  @media (min-width: 480px) {
    html {
      font-size: 60%; } }
  @media (min-width: 768px) {
    html {
      font-size: 62.5%; } }

@font-face {
  font-family: Raleway;
  src: url(fonts/raleway/Raleway-Regular.ttf); }

body, input, textarea {
  font: 1.4em 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 2.3em;
  color: #3F3F3F; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal; }

h1 {
  font-size: 2.5em;
  line-height: 1em;
  font-style: normal;
  font-weight: 300; }

h2 {
  font-size: 2.0em;
  line-height: 1.0em;
  font-style: normal;
  font-weight: 300; }

h3 {
  font-size: 1.5em;
  line-height: 1.0em;
  font-style: normal; }

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
  font-style: normal; }

h5 {
  font-size: 0.75em;
  line-height: 0.9em;
  font-style: normal; }

p {
  font: 1.0em 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 1.4em;
  margin: 0;
  padding: 0; }
  p b {
    font-weight: 600; }

a {
  text-decoration: none;
  color: #297FEF; }

hr.accent {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #999 -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: dashed none none;
  border-width: 1px 0 0;
  color: #999;
  padding: 0;
  text-align: center;
  margin: 10px 0; }

article h3 {
  color: #2A9E79; }

.main {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }

.avatar {
  text-align: center;
  padding: 12px 0 2px 0; }
  .avatar h3, .avatar h4 {
    margin: 5px;
    color: #2B2B2B; }
  .avatar h3 {
    color: #1D1C1C; }
  .avatar img {
    border-radius: 100%; }

.about .tags span {
  background: #99C0F6;
  color: #fff;
  border-radius: 3px;
  padding: 0 5px; }

.about .tags.interests span {
  background: #F2A5A5; }

.about .subcontent {
  padding: 0px 10px 15px 0px; }

.about .item {
  margin-bottom: 5px; }

@media (min-width: 768px) {
  .about .content {
    float: left;
    width: 50%; }
  .about .subcontent {
    padding: 0 10px 10px 23px; } }

.about:before,
.about:after {
  content: " ";
  display: table; }

.about:after {
  clear: both; }

.works {
  padding-bottom: 10px; }
  .works h4 {
    margin-bottom: 5px;
    font-weight: 600; }
  .works ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .works ul li {
      border-bottom: solid 1px #ddd;
      padding-bottom: 15px;
      margin: 15px 0; }
    .works ul li:last-child {
      border: none;
      margin: 0;
      padding-bottom: 0px; }
  .works .tags span {
    padding: 2px 5px; }
  .works .tags i {
    color: #727171; }

.social {
  text-align: center; }
  .social i {
    padding: 10px;
    font-size: 1.5em;
    color: #fff; }
  .social .fa-google-plus {
    background: #D34331; }
  .social .fa-twitter {
    background: #1B86BC; }
  .social .fa-flickr {
    background: #FF0085; }
  .social .fa-linkedin {
    background: #1B86BC; }
  .social .fa-instagram {
    background: #A5664D; }
  .social .fa-github {
    background: #888888; }
  .social .contact {
    padding: 10px; }
    .social .contact a {
      color: #3F3F3F; }
    .social .contact i {
      font-size: 1em; }
    .social .contact span {
      padding: 0 5px;
      display: block; }
      @media (min-width: 768px) {
        .social .contact span {
          display: inline; } }
    .social .contact .fa-envelope-o {
      color: #000; }
    .social .contact .fa-skype {
      color: #00AFF0; }
    .social .contact .fa-rss {
      color: #FE9900; }
